.contactsCards {
  border-radius: 12px;
  background-color: #f1f3f4;
  padding: 32px;
}

.contactsCardsTitle {
  font-size: 20px;
  font-weight: 500;
  color: #8b8b8b;
  margin-bottom: 16px;
}

.contactsCardsContent {
  font-size: 40px;
  font-weight: 600;
  color: #282828;
}

.contactsCardsImages {
  gap: 20px;
  display: flex;
}

.contacts-cards:ntn-child(odd) {
  flex: 2 2 auto;
}

.instaIcon {
  transition: transform 0.3s ease-in-out;
}

.instaIcon:hover {
  transform: scale(1.4);
  background-color: #393;
  border-radius: 8px;
}

.whatsappIcon {
  transition: transform 0.3s ease-in-out;
}

.whatsappIcon:hover {
  transform: scale(1.4);
  background-color: #393;
  border-radius: 22px;
  padding: 1px;
}

.dark {
  color: white;
  background: #404040;
}

.dark .contactsCardsContent > a {
  color: white;
}

/* use ntn child
потому что разные размеры карточек */

@media (max-width: 480px) {
  .contactsCardsImages {
    margin-left: 80px;
    margin-top: -40px;
  }
  .contactsCards {
    padding: 20px;
  }
  .contactsCards .contactsCardsContent {
    font-size: 30px;
  }
}

@media (max-width: 370px) {
  .contactsCards .contactsCardsContent {
    font-size: 24px;
  }
  .contactsCards {
    padding: 20px;
  }
}
