.headerWrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  font-size: 20px;
  padding: 30px 40px 28px 40px;
  font-family: "Montserrat";
  border-bottom: 1px solid rgb(221, 221, 221);
}
.navList {
  display: flex;
  gap: 32px;
  padding: 0px;
}

.active {
  color: #393;
}

.listStyle,
a {
  list-style: none;
  text-decoration: none;
  color: #282828;
  transition: transform 0.3s ease-in-out;
}
.listStyle:hover {
  transform: scale(1.1);
}

.basketWrapper {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.logo {
  height: 70px;
}

.burgerMenu {
  display: none;
}
/*////// Burger menu ///////*/

.burger {
  display: none;
  width: 60px;
  height: 50px;
  cursor: pointer;
  position: relative;
}

.toCart {
  position: relative;
}

.cartTotalQuantity {
  background-color: #393;
  border-radius: 118px;
  font-size: 10px;
  color: #ffff;
  position: absolute;
  width: 26px;
  height: 26px;
  right: -131px;
  top: -43px;
  text-align: center;
  padding-top: 5px;
}

.toLikedProducts {
  position: relative;
}

.likeTotalQuantity {
  background-color: #393;
  border-radius: 118px;
  font-size: 10px;
  color: #ffff;
  position: absolute;
  width: 26px;
  height: 26px;
  right: 25px;
  top: -1px;
  text-align: center;
  padding-top: 5px;
}

.burger_line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.burger_line_first {
  top: 0;
}
.burger_line_second,
.burger_line_third {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line_fourth {
  bottom: 0;
}

.burger_active .burger_line_first,
.burger_active .burger_line_fourth {
  opacity: 0;
}

.burger_active .burger_line_second {
  transform: translateY(-50%) rotate(45deg);
  color: #ffff;
}

.burger_active .burger_line_third {
  transform: translateY(-50%) rotate(-45deg);
  color: #ffff;
}

/* //////TOGGLE THEMA//// */
.logoToggleWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.themaWrapper {
  border-radius: 30px;
  background: #8b8b8b;
  width: 60px;
}

.themaDiv {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 3px;
}
.switch {
  cursor: pointer;
}

.dark > header {
  color: white;
}

.light {
  background: white;
  color: black;
}

@media (max-width: 889px) {
  .listStyle > a {
    font-size: 17px;
  }

  .navList {
    gap: 18px;
  }
}

@media (max-width: 779px) {
  .navList {
    gap: 10px;
  }

  .listStyle > a {
    font-size: 15px;
  }
}

@media (max-width: 730px) {
  .listStyle > a {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  header {
    background-color: #ffff;
    padding: 5px;
    font-size: 14px;
  }
  .navList {
    display: flex;
    visibility: hidden;
    gap: 20px;
    background-color: #ffff;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 100px;
    z-index: 1;
  }

  .listStyle > a {
    color: rgb(0, 0, 0);
    font-size: 25px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
  .burger_active .burger_line {
    background-color: #000000;
    z-index: 1;
  }

  .menuToggle {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}
