@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("/fonts/MyFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  font-size: 20px;
  padding: 30px 40px 28px 40px;
  font-family: "Montserrat";
}
.navList {
  display: flex;
  gap: 32px;
  padding: 0px;
}

.navList > li,
a {
  list-style: none;
  text-decoration: none;
  color: #282828;
}

.basketWrapper {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.logo {
  height: 70px;
}

.burgerMenu {
  display: none;
}

@media (max-width: 750px) {
  header {
    padding: 5px;
    font-size: 14px;
  }

  .navList {
    display: flex;
    background-color: bisque;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    margin-top: 39px;
    transition: transform 0.4s ease-in-out;
    transform: translate(100%);
    font-size: 40px;
  }

  .burgerMenu {
    display: block;
  }

  .menuToggle {
    transform: translateX(0);
  }
}
