.greenDiv {
  background: #0b710b;
  border-radius: 20px;
  max-width: 1360px;
  height: 510px;
  margin: 30px auto;
  justify-content: center;
}

.h2TitleForm {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  padding-top: 30px;
  margin-bottom: 30px;
}

.divForm {
  display: flex;
}

.formErrorMessage {
  color: rgb(246, 5, 5);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  margin-bottom: -10px;
  margin-top: -5px;
}

.pSubmittedRegistration {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
}

.formHands {
  width: 850px;
  height: 371px;
  margin-left: -40px;
}

.divForm .divInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: auto 40px;
  margin-top: 10px;
}

.allThreeInputs {
  border-radius: 6px;
  padding: 16px 32px;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}
.allThreeInputs:hover {
  transform: scale(1.1);
}

.allThreeInputs::placeholder {
  color: #fff;
}

.whiteButton {
  color: #282828;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  width: 519px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #fff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .imgWrapper .formHands {
    width: 840px;
  }
}

@media screen and (max-width: 1350px) {
  .imgWrapper .formHands {
    width: 800px;
  }
}

@media screen and (max-width: 1300px) {
  .imgWrapper .formHands {
    width: 700px;
  }
}

@media screen and (max-width: 1200px) {
  .imgWrapper .formHands {
    width: 650px;
  }
}

@media screen and (max-width: 1150px) {
  .imgWrapper .formHands {
    width: 600px;
  }
}

/* @media screen and (max-width: 1100px) {
    .divForm .divInputs {
    width: 450px;
    height: 276px;
  }
  .imgWrapper .formHands {
    width: 550px;
  }
} */

@media screen and (max-width: 1050px) {
  .imgWrapper .formHands {
    width: 500px;
  }
}

/* @media screen and (max-width: 1024px) {
  .imgWrapper .formHands {
    object-fit: cover;
    width: 444px;
    height: 293px;
    margin-left: -16px;
    margin-bottom: -281px;
  }

  .allThreeInputs {
    width: 95%;
  }

  .greenDiv {
    max-height: 434px;
    margin: 0px 20px;
  }
  .divForm {
    justify-content: space-around;
  }

  .h2TitleForm {
    font-size: 64px;
  }
  .divForm .divInputs {
    width: 450px;
    height: 276px;
  }
} */

@media screen and (max-width: 950px) {
  .divInputs {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .divInputs {
    margin-left: 15px;
  }
  .greenDiv .imgWrapper {
    width: 438px;
  }
}

@media screen and (max-width: 870px) {
  .greenDiv .imgWrapper {
    width: 418px;
    margin-right: 30px;
  }
  .h2TitleForm {
    font-size: 49px;
  }
  .divInputs {
    width: 370px;
  }
}

@media screen and (max-width: 845px) {
  .greenDiv .imgWrapper {
    width: 420px;
  }
  .h2TitleForm {
    font-size: 49px;
  }
  .divInputs .allThreeInputs {
    width: 320px;
    padding: auto 20px;
  }
}

@media screen and (max-width: 815px) {
  .divInputs .allThreeInputs {
    width: 270px;
    padding: auto 20px;
  }
}

@media screen and (max-width: 800px) {
  .greenDiv .imgWrapper {
    width: 350px;
    margin-right: 40px;
  }
  .divInputs .allThreeInputs {
    width: 270px;
    padding: auto 20px;
  }
}

@media screen and (max-width: 768px) {
  .h2TitleForm {
    font-size: 45px;
  }
  .greenDiv .imgWrapper {
    width: 260px;
    overflow: hidden;
  }
  .imgWrapper .formHands {
    width: 120%;
    height: 331px;
    object-fit: cover;
  }

  .divInputs {
    justify-content: flex-end;
    margin-left: 20px;
  }
  .divInputs .allThreeInputs {
    width: 350px;
    padding: auto 20px;
  }

  .divInputs .whiteButton {
    width: 350px;
  }
  .greenDiv {
    width: 88%;
    padding: 15px 10px;
  }
  .divForm {
    margin-top: -35px;
  }
}

@media screen and (max-width: 757px) {
  .greenDiv .imgWrapper {
    width: 320px;
  }
  .divInputs .allThreeInputs {
    width: 250px;
    padding: auto 20px;
  }
  .divInputs .whiteButton {
    width: 250px;
  }

  .divInputs {
    justify-content: flex-end;
    margin-left: 15px;
  }
}

@media screen and (max-width: 700px) {
  .greenDiv .imgWrapper {
    width: 250px;
  }
  .divInputs {
    margin-left: 5px;
  }
}

@media screen and (max-width: 650px) {
  .greenDiv .imgWrapper {
    width: 300px;
  }
  .divInputs {
    margin-left: 40px;
  }
}

@media screen and (max-width: 630px) {
  .greenDiv .imgWrapper {
    width: 270px;
  }
  .divInputs {
    margin-left: 10px;
  }
  .h2TitleForm {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .h2TitleForm {
    font-size: 37px;
  }
  .divForm {
    flex-direction: column-reverse;
  }
  .greenDiv .imgWrapper {
    width: 440px;
    overflow: hidden;
    margin-left: 30px;
  }
  .imgWrapper .formHands {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .divInputs {
    margin: 10px auto;
  }
  .divInputs .allThreeInputs {
    width: 370px;
    padding: auto 20px;
  }
  .greenDiv {
    width: 86%;
    padding: 5px 10px;
    height: 674px;
    margin: 20px;
  }
  .divForm {
    margin-top: -15px;
  }
}

@media screen and (max-width: 566px) {
  .h2TitleForm {
    font-size: 35px;
  }
  .divInputs {
    margin: 10px auto;
  }
  .greenDiv .imgWrapper {
    margin-left: 20px;
  }
  .divInputs {
    width: 350px;
  }
}

@media screen and (max-width: 520px) {
  .h2TitleForm {
    font-size: 30px;
  }
  .divInputs {
    margin: 10px auto;
  }
  .greenDiv .imgWrapper {
    margin-left: 10px;
    width: 410px;
  }
  .greenDiv {
    height: 650px;
  }
  .divInputs {
    width: 350px;
  }
}

@media screen and (max-width: 470px) {
  .h2TitleForm {
    font-size: 25px;
  }
  .divInputs {
    margin: 10px auto;
    width: 70px;
  }
  .greenDiv .imgWrapper {
    margin-left: 5px;
    width: 380px;
  }
  .greenDiv {
    height: 630px;
  }
  .divInputs .allThreeInputs {
    width: 370px;
  }
}

@media screen and (max-width: 444px) {
  .h2TitleForm {
    font-size: 25px;
  }
  .divInputs {
    margin: 10px auto;
    width: 70px;
  }
  .divInputs .allThreeInputs {
    width: 300px;
  }
  .greenDiv .imgWrapper {
    margin-left: 5px;
    width: 350px;
    height: 200px;
  }
  .greenDiv {
    height: 630px;
  }
}

@media screen and (max-width: 395px) {
  .h2TitleForm {
    font-size: 25px;
  }
  .divForm {
    flex-direction: column-reverse;
  }
  .greenDiv .imgWrapper {
    width: 300px;
    overflow: hidden;
  }
  .imgWrapper .formHands {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-left: 10px;
  }
  .divInputs {
    margin: 10px auto;
  }
  .divInputs .allThreeInputs {
    width: 290px;
    padding: auto 20px;
  }
  .greenDiv {
    width: 89%;
    padding: 5px 5px;
    height: 615px;
    margin: 15px;
  }
  .divForm {
    margin-top: -15px;
  }
}
