.saleImg {
  width: 312px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
  height: 315px;
  border-bottom: 1px solid #dddddd;
  object-fit: cover;
}

.saleCardTextPriceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
  height: auto;
}

.saleCard:hover {
  transform: scale(1.1);
}
.saleCardText {
  font-size: 19px;
  font-weight: 500;
  line-height: 130%;
  margin: 0px 32px 16px 32px;
  min-height: 55px;
  color: #282828;
}
.saleCardText:hover {
  color: #393;
}

.saleCard:hover .productCartButton {
  visibility: visible;
}

.salePriceWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0px 32px 32px 32px;
  align-items: baseline;
}
.realPrice {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  color: #282828;
}
.dark .realPrice {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  color: #ffffff;
}
.firstPrice {
  font-size: 23px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
  color: #8b8b8b;
}

.saleBlock {
  position: absolute;
  margin-left: 15px;
  margin-top: 16px;
  background-color: #393;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.saleCard {
  border-radius: 12px;
  border: 1px solid #ddd;
  max-width: 313px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.myFirstBlock {
  display: flex;
}

/* .productCartButton {
  visibility: hidden;
  padding: 16px 56px;
  width: 284px;
  height: 58px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: #339933;
  color: #ffffff;
  position: absolute;
  bottom: 177px;
  left: 13px;
}

.productCartButton:hover {
  visibility: visible;
  background-color: #282828;
  color: #ffffff;
} */

.btnAddToCard {
  width: 284px;
  cursor: pointer;
  padding: 16px 56px;
  height: 58px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 250px;
  left: 13px;
  border: none;
  background: #339933;
  color: #ffffff;
}

.addedToCart {
  width: 284px;
  cursor: pointer;
  padding: 16px 56px;
  height: 58px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 250px;
  left: 13px;
  border: none;
}

.dark {
  color: white;
}

.btnAddToLikes {
  max-width: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 255px;
  top: 10px;
  cursor: pointer;
}

@media (max-width: 1402px) {
  .btnAddToLikes {
    left: 189px;
    top: 11px;
  }
  .saleCard {
    max-width: 260px;
  }
  .saleImg {
    width: 259px;
  }
}

@media (max-width: 1358px) {
  .btnAddToLikes {
    left: 174px;
  }

  .salesCategoryWrapper {
    padding: 0px 40px;
  }
  .saleCard {
    max-width: 226px;
  }

  .saleImg {
    width: 225px;
  }
  .btnAddToCard,
  .addedToCart {
    max-width: 200px;
    max-height: 50px;
    padding: 16px, 56px;
    gap: 10px;
    font-size: 15px;
    left: 11px;
  }
}

@media (max-width: 1256px) {
  .saleImg {
    width: 238px;
  }
  .btnAddToCard,
  .addedToCart {
    left: 17px;
  }
  .saleCard {
    max-width: 240px;
  }
}

@media (max-width: 1177px) {
  .saleImg {
    width: 223px;
  }

  .btnAddToCard,
  .addedToCart {
    left: 10px;
  }

  .saleCard {
    max-width: 224px;
  }
}

@media (max-width: 1090px) {
  .saleCardWrapper {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .saleCard {
    max-width: 223px;
  }

  .saleCardText {
    margin: 0px 20px;
  }

  .saleImg {
    width: 221px;
  }

  .realPrice {
    font-size: 32px;
  }

  .firstPrice {
    font-size: 20px;
  }
  .salePriceWrapper {
    margin: 0px 20px;
    gap: 10px;
  }

  .btnAddToLikes {
    left: 167px;
    top: 13px;
  }

  .btnAddToCard,
  .addedToCart {
    max-width: 200px;
    max-height: 50px;
    padding: 16px, 56px;
    gap: 10px;
    font-size: 15px;
    left: 9px;
  }
}

@media (max-width: 959px) {
  .saleCard {
    max-width: 170px;
  }
  .saleImg {
    width: 169px;
    margin-bottom: 5px;
  }
  .btnAddToLikes {
    left: 114px;
  }

  .btnAddToCard,
  .addedToCart {
    left: 2px;
    top: 270px;
    max-width: 165px;
    max-height: 40px;
    padding: 1px 2px;
  }
  .salePriceWrapper .realPrice {
    font-size: 30px;
  }
  .salePriceWrapper .firstPrice {
    font-size: 15px;
  }
}

@media (max-width: 818px) {
  .saleImg {
    width: 333px;
    height: 250px;
  }
  .saleCard {
    max-width: 335px;
  }

  .btnAddToLikes {
    left: 241px;
  }
  .btnAddToCard,
  .addedToCart {
    max-width: 300px;
    max-height: 50px;
    padding: 16px, 60px;
    gap: 10px;
    font-size: 15px;
    left: 26px;
    top: 197px;
  }
}

@media (max-width: 728px) {
  .btnAddToLikes {
    left: 153px;
  }
  .saleImg {
    width: 213px;
    height: 240px;
  }

  .saleCard {
    max-width: 215px;
  }
  .btnAddToCard,
  .addedToCart {
    max-width: 200px;
    max-height: 40px;
    left: 7px;
    top: 195px;
  }
}

@media (max-width: 507px) {
  .saleCard {
    max-width: 198px;
  }

  .saleImg {
    width: 196px;
  }
  .btnAddToLikes {
    left: 142px;
  }
  .btnAddToCard,
  .addedToCart {
    max-width: 190px;
    left: 3px;
  }
}

@media (max-width: 460px) {
  .saleCard {
    max-width: 320px;
  }
  .saleImg {
    width: 318px;
  }

  .btnAddToLikes {
    left: 252px;
  }
  .btnAddToCard,
  .addedToCart {
    max-width: 285px;
    max-height: 50px;
    left: 15px;
    top: 187px;
  }
}

@media (max-width: 361px) {
  .saleCard {
    max-width: 320px;
  }

  .saleImg {
    width: 318px;
    margin-bottom: 10px;
  }
  .btnAddToLikes {
    left: 255px;
    top: 10px;
  }
}
