.saleImg {
  max-width: 312px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
  height: 315px;
  border-bottom: 1px solid #dddddd;
  object-fit: cover;
}
.saleCard:hover {
  transform: scale(1.1);
}
.saleCardText {
  font-size: 19px;
  font-weight: 500;
  line-height: 130%;
  margin: 0px 32px 16px 32px;
  min-height: 55px;
}
.saleCardText:hover {
  color: #393;
}

.saleCard:hover .productCartButton {
  visibility: visible;
}

.salePriceWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0px 32px 32px 32px;
  align-items: baseline;
}
.realPrice {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.firstPrice {
  font-size: 23px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
  color: #8b8b8b;
}

.saleBlock {
  position: absolute;
  margin-left: 15px;
  margin-top: 16px;
  background-color: #393;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.6px;
}

.saleCard {
  border-radius: 12px;
  border: 1px solid #ddd;
  max-width: 313px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.myFirstBlock {
  display: flex;
}

.productCartButton {
  visibility: hidden;
  padding: 16px 56px;
  width: 284px;
  height: 58px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: #339933;
  color: #ffffff;
  position: absolute;
  bottom: 177px;
  left: 13px;
}

.productCartButton:hover {
  visibility: visible;
  background-color: #282828;
  color: #ffffff;
}

.btnAddToCard {
    max-width: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 255px;
    top: 10px;
    cursor: pointer;

}