.categoryImg {
  width: 248px;
  height: 320px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.categoryCard:hover,
.categoryCardText:hover {
  transform: scale(1.1);
}

.categoryCardText:hover {
  color: #393;
}

.categoryCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.error {
  margin: 0 auto;
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 80px;
  justify-content: center;
  margin-top: 80px;
}

.categoryCard {
  transition: transform 0.3s ease-in-out;
}

.categoryCardText {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: #282828;
  transition: transform 0.3s ease-in-out;
}

.categoryBtnDescription {
  color: #8b8b8b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.categoryBtnAdaptive {
  display: flex;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: white;
  margin: 20px auto;
}

.buttonWrapper {
  max-width: 260px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.lineDiv {
  flex-grow: 1;
  border-bottom: 1px solid #ddd;
}

.mainPageBtn,
.categoreisBtn {
  padding: 8px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
}

.mainPageBtn {
  color: rgb(139, 139, 139);
}

.categoriesWrapperText {
  margin-bottom: 40px;
  font-size: 64px;
  margin: 60px 0px;
  max-width: 1380px;
}

.allCategoriesWrapper {
  padding: 0px 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.dark {
  color: white;
  background: #282828;
}
@media (max-width: 1024px) {
  .categoryImg {
    width: 290px;
    height: 250px;
  }
  .categoryCardsWrapper {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .categoryImg {
    width: 325px;
    height: 250px;
  }
  .categoriesWrapperText {
    margin: 40px 0px;
  }
}

@media (min-width: 510px) {
  .categoryBtnAdaptive {
    display: none;
  }
}

/* @media (max-width: 480px) {
  .categoryImg {
    width: 180px;
    height: 254px;
  }
} */

@media (max-width: 400px) {

  
  .categoriesWrapperText {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
  }

  .categoryImg {
    width: 270px;
    height: 250px;
  }
}
