.titleTextWrapper {
display: flex;
flex-wrap: wrap;
align-items: center;
margin: 0 auto;
max-width: 1350px;
margin-top: 40px;
}

.titleDescription {
  color: var(--txt-black, #282828);
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

.line {
  flex-grow: 1;
  border-bottom: 1px solid #ddd;
}

.titleBtn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #ddd);
  background: white;
  margin: 70px auto;
}

.titleBtnDescription {
  color: var(--txt-grey, #8b8b8b);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.dark {
  color: white;
  background: #282828;
}

@media (min-width: 360px) and (max-width: 510px) {
  .line {
    display: none;
  }

  .titleDescription {
    margin: 30px auto;
  }

  .titleBtn {
    display: none;
  }

  .titleDescription {
    margin-bottom: 40px;
  }
}