.line {
  width: 22px;
  height: 1px;
  background-color: #ddd;
  margin-top: -18px;
  margin-left: 131px;
  margin-right: -20px;
}
.buttonWrapper .flexDivs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.divBorder {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 7px;
  padding: 9px 14px;
  color: #8b8b8b;
}

.buttonWrapper {
  margin: 60px auto;
  max-width: 1380px;
}

.lineDiv {
  border-bottom: 1px solid #ddd;
}

.mainPageBtn,
.categoreisBtn {
  padding: 8px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
}
.mainPageBtn {
  color: rgb(139, 139, 139);
}

/**.mainButton {
  position: relative;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.mainButton:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  bottom: 0;
  width: 1px;
}*/
