.buttonWrapper {
  max-width: 260px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.lineDiv {
  flex-grow: 1;
  border-bottom: 1px solid #ddd;
}
.mainPageBtn,
.categoreisBtn {
  padding: 8px 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
}
.mainPageBtn {
  color: rgb(139, 139, 139);
}

.dark  > div {
  color: white;
  background: #282828;
}

