.emptyCart {
  margin-left: 30px;
}

.CartWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px 80px 40px;
  margin-bottom: 80px;
  justify-content: space-between;
  gap: 15px;
  margin-top: 50px;
}

.cartProductWrapper {
  max-width: 780px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.btnCrossImg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.btnCroosImg {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.btnCrossImg:hover {
  transform: scale(1.5);
  background-color: #393;
  border-radius: 5px;
}

.btnCroosImg:hover {
  transform: scale(1.5);
  background-color: #393;
  border-radius: 5px;
}

.crossBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.crossBtn:hover {
  transform: scale(1.1);
  background-color: #393;
  border-radius: 5px;
}

.titleWrapperWithCross {
  display: flex;
  flex-wrap: wrap;
}

.cartImgSize {
  max-width: 178px;
  margin: 0px 32px 0px 0px;
  border-radius: 12px 0px 0px 12px;
  height: 178px;
  margin-bottom: -4px;
  transition: transform 0.3s ease-in-out;
}

.cartImgSize:hover {
  transform: scale(0.95);
}

.cartProduct {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  position: relative;
  max-width: 900px;
  max-height: 180px;
  padding: 0 180px 0 0;
}
.productCardWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 41px 25px 18px 0px;
  position: relative;
  flex-direction: column;
}

.productCardTitle {
  color: rgb(40, 40, 40);
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.3s ease-in-out;
}

.productCardTitle:hover {
  color: #393;
  text-decoration: underline;
}

.dark .productCardTitle:hover {
  color: #393;
  text-decoration: underline;
}

.productCardDiscountPrice {
  color: rgb(40, 40, 40);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: left;
}

.productCardPrice {
  color: rgb(139, 139, 139);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

.emptyCart {
  margin: 0 auto;
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  flex-direction: column;
  margin-bottom: 80px;
}

.emptyCartBtn {
  border-radius: 6px;
  background: rgb(51, 153, 51);
  position: static;
  max-width: 330px;
  height: 58px;
  align-items: center;
  padding: 16px 56px 16px 56px;
  margin: 32px 0px;
  border: none;
  color: white;
  text-align: center;
}

.emptyCartLink {
  max-width: 313px;
  height: 58px;
}

.btnWrapper {
  flex-wrap: wrap;
  width: 200px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.btnMinus {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  position: static;
  width: 58px;
  height: 57px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(139, 139, 139);
  transition: transform 1.9s ease-in-out;
}

.btnMinus:hover {
  color: #393;
  font-size: 30px;
  font-weight: 300px;
  transform: scale(1);
}

.count {
  position: static;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btnPlus {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  position: static;
  width: 58px;
  height: 57px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(139, 139, 139);
  transition: transform 1.9s ease-in-out;
}

.btnPlus:hover {
  color: #393;
  font-size: 30px;
  font-weight: 300px;
  transform: scale(1);
}

.salePriceWrapper {
  display: flex;
  gap: 15px;
}

.countPlusPriceWrapper {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 32px;
}

.discountedPrice {
  color: rgb(40, 40, 40);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}

.realPrice {
  color: rgb(139, 139, 139);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: line-through;
  margin-top: 18px;
}

.light {
  color: black;
}

.light .discountedPrice {
  color: black;
}

.dark .productCardTitle,
.discountedPrice {
  color: white;
}

.dark .btnMinus,
.btnPlus {
  background-color: transparent;
}

@media screen and (max-width: 1440px) {
  .cartProduct {
    padding: 0 140px 0 0;
  }
  .emptyCart {
    margin: auto 30px;
  }
}

@media screen and (max-width: 1434px) {
  .cartProduct {
    padding: 0 103px 0 0;
  }
  .emptyCart {
    margin: auto 30px;
  }
}

@media screen and (max-width: 1420px) {
  .cartProduct {
    padding: 0 80px 0 0;
  }
}

@media screen and (max-width: 1400px) {
  .cartProduct {
    padding: 0 60px 0 0;
  }
}

@media screen and (max-width: 1378px) {
  .cartProduct {
    padding: 0 45px 0 0;
  }
}

@media screen and (max-width: 1369px) {
  .cartProduct {
    padding: 0 30px 0 0;
  }
}

@media screen and (max-width: 1349px) {
  .cartProduct {
    padding: 0 5px 0 0;
  }
}

@media screen and (max-width: 1328px) {
  .cartProduct {
    padding: 0;
  }
}

@media screen and (max-width: 1321px) {
  .cartImgSize {
    margin: 0px 10px -4px 0px;
  }
}

@media screen and (max-width: 1300px) {
  .countPlusPriceWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    margin-left: -300px;
  }
  .productCardWrapper {
    padding: 25px 15px 4px 0;
  }
}

@media screen and (max-width: 1198px) {
  .productCardTitle {
    width: 200px;
  }
  .countPlusPriceWrapper {
    margin-left: -200px;
  }
}

@media screen and (max-width: 917px) {
  .productCardTitle {
    width: 500px;
  }
  .countPlusPriceWrapper {
    flex-direction: row;
    justify-content: start;
    margin-left: 5px;
  }
  .cartProduct {
    padding: 0 220px 0 0;
  }
}

@media screen and (max-width: 853px) {
  .cartProduct {
    padding: 0 10px 0 0;
  }
}

@media screen and (max-width: 810px) {
  .productCardTitle {
    width: 450px;
  }
  .cartProduct {
    padding: 0;
  }
}

@media screen and (max-width: 749px) {
  .productCardTitle {
    width: 400px;
  }
}

@media screen and (max-width: 699px) {
  .productCardTitle {
    width: 280px;
  }
  .cartImgSize {
    max-width: 166px;
  }
}

@media screen and (max-width: 663px) {
  .countPlusPriceWrapper {
    flex-direction: column;
    gap: 10px;
    margin-left: -270px;
  }
}

@media screen and (max-width: 597px) {
  .productCardTitle {
    width: 200px;
  }
  .countPlusPriceWrapper {
    margin-left: -200px;
  }
}

@media screen and (max-width: 502px) {
  .cartImgSize {
    max-width: 150px;
  }
}

@media screen and (max-width: 470px) {
  .cartImgSize {
    max-width: 100px;
    max-height: 200px;
    object-fit: cover;
  }
}

@media screen and (max-width: 423px) {
  .cartImgSize {
    margin: 0px 9px 0px 0px;
  }
  .CartWrapper {
    padding: 0 20px 60px 20px;
  }
  .emptyCart > .emptyCartBtn {
    padding: 14px 5px;
  }
  .emptyCart > .emptyCartMessage {
    font-size: 20px;
  }
  .productCardTitle {
    width: 180px;
  }
  .btnMinus {
    width: 45px;
  }
  .btnPlus {
    width: 45px;
  }
  .countPlusPriceWrapper {
    margin-left: -186px;
  }
  .discountedPrice {
    font-size: 35px;
  }
}
